@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'),
  url('../fonts/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('../fonts/Roboto-Medium.woff2') format('woff2'),
  url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('../fonts/Roboto-Bold.woff2') format('woff2'),
  url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}
a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 18px;
  color: #fff;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #ffbc9e;
  border-bottom-color: rgba(255, 188, 158, 0.3);
}
img {
  max-width: 100%;
  height: auto;
}
.site-wrapper {
  min-width: 940px;
  margin: 0 auto;
  background-image: url('../img/slider-1.png');
  background-repeat: no-repeat;
  background-position: center top;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}
.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}
.site-wrapper::before {
  background-image: url('../img/slider-2.png');
}
.site-wrapper::after {
  background-image: url('../img/slider-3.png');
}
#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url('../img/slider-1.png');
}
#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url('../img/slider-2.png');
}
#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url('../img/slider-3.png');
}
#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}
#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #fff;
}
.container {
  max-width: 1200px;
  padding: 0 27px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px; 
  height: 1px; 
  padding: 0;
  border: 0;
  margin: -1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
/* Button */
.button {
  display: inline-block;
  vertical-align: top;
  padding: 10px 23px;
  border: none;
  border-radius: 50px;
  background-color: #f26843;
  background-image: linear-gradient(to bottom, #f26843, #e74a35);
  color: #fff; 
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  box-shadow: 0px 1px 2px 0 #ac1000;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  text-decoration: none;
  cursor: pointer;
}
.button:hover,
.button:focus {
  color: #fff; 
  background-color: #e74a35;
  background-image: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    linear-gradient(to bottom, #f26843, #e74a35);
}
.button:active {
  background-image: 
    linear-gradient(to bottom, #e74a35, #f26843), 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
}
.close-button {
  display: inline-block;
  vertical-align: baseline;
  border: none;
  background-color: transparent;
  font-size: 0;
  cursor: pointer;
}
/* =============
  SITE-HEADER
  ============== */
.site-header {
  position: relative;
  padding-top: 9px;
}
.site-navigation {
  display: flex;
  align-items: flex-start;
}
.logo {
  border-bottom: 0;
  margin-right: 10px;
}
.logo img {
  vertical-align: middle;
}
/* Main navigation */
.main-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  padding: 0;
  margin: 0;
  margin-top: 14px;
  margin-right: auto;
  list-style-type: none;
}
.main-navigation__item {
  position: relative;
}
.main-navigation__link {
  position: relative;
  display: block;
  padding: 7px 14px;
  border-bottom: none;
  margin-bottom: 5px;
  border-radius: 15px;
  font-weight: bold;
  line-height: 18px;
}
.main-navigation__link::after {
  content: '';
  position: absolute;
  top: 79%;
  left: 14px;
  right: 14px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}
.main-navigation__link:hover,
.main-navigation__link:focus {
  background-color: #fff;
  color: #323232;
}
.main-navigation__link:hover::after,
.main-navigation__link:focus::after {
  display: none;
}
.main-navigation__link:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px #696969;
}
.main-navigation__link:active::after {
  display: none;
}
.main-navigation__item.active > .main-navigation__link {
  background-color: #d07058;
  color: #fff;
}
.main-navigation__item.active > .main-navigation__link::after {
  display: none;
}
/* Site navigation dropdowns */
.site-navigation__dropdown {
  position: absolute;
  z-index: 1;
  top: 100%;
  display: none;
  padding: 20px 16px;
  border-radius: 5px;
  background-color: #f8f7f4;
  color: #999;
  font-size: 14px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}
.site-navigation__dropdown input {
  padding: 7px 15px;
  border: 1px solid #d3d3d2;
  margin-bottom: 20px;
  border-radius: 5px;
  line-height: 24px;
}
.site-navigation__dropdown input:hover {
  border-color: #9a9a9a;  
  box-shadow: inset 0 0 0 1px #9a9a9a;
}
.site-navigation__dropdown input:focus {
  outline: 0;
  border-color: rgba(46, 136, 228, 0.52);
  box-shadow: inset 0 0 0 1px rgba(46, 136, 228, 0.52);
}
/* Main navigation submenu */
.main-navigation__submenu {
  left: -5px;
  min-width: 143px;
  padding: 7px 0;
}
.main-navigation__item:hover .main-navigation__submenu {
  display: block;
}
.submenu__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.submenu__link {
  display: block;
  padding: 7px 20px;
  border-bottom: 0;
  color: #323232;
}
.submenu__link:hover,
.submenu__link:focus {
  background-color: #fbded7;
  outline: 0;
}
.submenu__link:active {
  background-color: #f6b5a5;
}
.submenu__item.active .submenu__link {
  background-color: #d07058;
  color: #fff;
}
.main-navigation__submenu hr {
  width: 128px;
  height: 1px;
  margin: 10px auto;
  background-color: #d1d0ce;
  border: none;
}
/* User navigation */
.user-navigation {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 13px;
  list-style-type: none;
  font-size: 14px;
}
.user-navigation__item {
  position: relative;
  margin-left: 10px;
}
.user-navigation__link {
  display: flex;
  align-items: center;
  padding: 7px 16px;
  border-bottom: none;
  margin-bottom: 5px;
  border-radius: 15px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
}
.user-navigation__item:hover .user-navigation__link,
.user-navigation__link:hover,
.user-navigation__link:focus {
  background-color: #fff;
  color: #323232;
}
.user-navigation__item:hover path,
.user-navigation__link:focus path,
.user-navigation__item:hover circle,
.user-navigation__link:focus circle {
  fill: #323232;
}
/* Search */
.user-navigation__item--search .user-navigation__link {
  width: 32px;
  height: 32px;
  padding: 7px;
}
.search-form-wrapper {
  right: 0;
}
.search-form-wrapper .search-input {
  width: 311px;
  margin-bottom: 0;
}
.user-navigation__item--search:hover .search-form-wrapper {
  display: block;
}
/* Login */
.user-navigation__item--login svg {
  margin-right: 7px;
}
.user-navigation__item--login path {
  fill: #fff;
}
.login-form-wrapper {
  right: -2px;
}
.user-navigation__item--login:hover .login-form-wrapper {
  display: block;
}
.login-form-wrapper input {
  width: 240px;
}
.login-form-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}
.login-form-bottom__links {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.login-form-bottom__links a {
  color: #323232;
  border-bottom-color: #323232;
}
/* User navigation cart */
.user-navigation__item--cart svg {
  margin-right: 7px;
}
.user-navigation__item--cart.not-empty .user-navigation__link {
  padding-left: 44px;
  background-image: url('../img/basket-red.svg');
  background-repeat: no-repeat;
  background-size: 21px 20px;
  background-position: 16px 7px;
}
.user-navigation__item--cart.not-empty svg {
  display: none;
}
.user-navigation__item--cart:hover .cart-list-dropdown {
  display: block;
}
.cart-list-dropdown {
  width: 540px;
  right: 0;
  text-align: right;
}
.cart__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.cart__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 16px;
  text-align: left;
  color: #323232;
}
.cart__item * {
  flex-shrink: 0;
}
.cart__item .close-button {
  width: 11px;
  height: 11px;
  margin-right: 14px;
  background: url('../img/cross-small.svg') no-repeat center center;
}
.cart__item-img {
  margin-right: 14px;
}
.cart__item-name {
  width: 230px;
  margin-right: 12px;
  font-weight: normal;
}
.cart__item-calculation {
  min-width: 100px;
  margin-right: 30px;
}
.cart__item-price {
  color: #999;
}
.cart__item-total {
  min-width: 50px;
  margin-right: 20px;
}
.cart-list-dropdown hr {
  height: 1px;
  border: none;
  margin: 15px auto;
  background-color: #cacac7;
}
.cart__total {
  font-size: 15px;
  font-weight: bold;
  color: #323232;
}
/* Site-header contacts */
.site-header__contacts {
  position: absolute;
  top: 74px;
  right: 0;
  text-align: right;
  color: #fff;
  font-weight: bold;
}
.site-header__contacts .working-hours {
  margin-top: -3px;
  margin-bottom: 4px;
  font-size: 14px;
}
.site-header__contacts .phone {
  font-size: 22px;
  border-bottom: 0;
}
.site-header__contacts .phone:hover,
.site-header__contacts .phone:focus {
  color: #fff;
}
/* SLIDER */
.slider {
  position: relative;
  padding-top: 319px;
  margin-bottom: 41px;
  text-align: center;
  color: #fff;
}
.slider__controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 1;
  font-size: 0;
}
.slider__controls label {
  display: inline-block;
  vertical-align: top;
  width: 21px;
  height: 21px;
  border: 2px solid #ffffff;
  margin-right: 9px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
.slider__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.slide {
  display: none;  
}
.slide .button {
  padding: 10px 40px;
  font-size: 32px;
  line-height: 44px;
}
.slide__title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}
/* PROMO */
.promotions {
  margin-bottom: 40px;
}
.promo__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.promo__item {
  width: 560px;
  padding: 17px 20px 23px;
  border-radius: 15px;
  background-color: #323232;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  text-align: right;
}
.promo__item--raspberry {
  background-image: url('../img/raspberry-bg.jpg');
}
.promo__item--chocolate {
  background-image: url('../img/chocolate-bg.jpg');
}
.promo__title {
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 35px;
  line-height: 41px;
  text-align: left;
}
.promo__text {
  margin-top: 0;
  margin-bottom: 45px;
  font-size: 18px;
  text-align: left;
}
/* PRODUCTS */
.product__list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: -26px;
  list-style-type: none;
}
.product__item {
  position: relative;
  width: 267px;
  margin-left: 26px;
  margin-bottom: 38px;
  color: #fff;
  text-align: center;
}
.product__item::before {
  content: '';
  position: absolute;
  z-index: 0;
  top: -6px;
  left: -13px;
  right: -13px;
  bottom: 0;
  background-color: transparent;
}
.product__item:hover::before {
  bottom: -75px;
  padding-bottom: 75px;
  border-radius: 5px;
  background-color: rgba(248, 247, 244, 0.2);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.product--hit::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background: url('../img/hit.png') no-repeat center center;
}
.product__img-wrapper {
  position: relative;
  margin-bottom: 14px;
}
.product__img {
  width: 267px;
  height: 267px;
  vertical-align: middle;
  border-radius: 50%;
}
.product__price {
  position: absolute;
  bottom: 7px;
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  text-align: left;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}
.product__measure {
  font-size: 30px;
}
.product__name {
  position: relative;
}
.product__button {
  display: none;
  position: absolute;
  left: 50%;
  bottom: -52px;
  width: 220px;
  margin-left: -110px;
}
.product__item:hover .product__button {
  display: block;
}
/* FEATURES */
.features {
  padding: 26px 20px 11px;
  border-radius: 15px;
  margin-bottom: 40px;
  background: #efe2ca url('../img/waffle-bg.jpg') top left / cover;
}
.features__lead {
  margin-top: 0;
  margin-bottom: 7px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}
.feature__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.feature__item {
  width: 538px;
  padding-top: 13px;
  padding-left: 57px;
  margin-bottom: 11px;
  background: no-repeat top left / 49px 49px;
}
.feature__item--technology {
  background-image: url('../img/ice-cream.svg');
}
.feature__item--ingredients {
  background-image: url('../img/cow.svg');
}
.feature__item--quality {
  background-image: url('../img/eco.svg');
}
.feature__item--delivery {
  background-image: url('../img/thermometer.svg');
}
/* MODALS */
.modal__overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal {
  position: fixed;
  top: 100px;
  left: 50%;
  z-index: 5;
  display: none;
  width: 478px;
  padding: 18px 24px;
  margin-left: -239px;
  background-color: #f8f7f4;
  border-radius: 10px;
}
.modal--shown,
.modal--shown .modal {
  display: block;
}
.modal .close-button {
  position: absolute;
  top: 17px;
  right: 17px;
  width: 18px;
  height: 17px;
  background-image: url('../img/cross-big.svg');
}
.modal__title {
  margin-top: 0;
  margin-bottom: 22px;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}
.modal__form .input-group {
  margin-bottom: 20px;
}
.modal__form input,
.modal__form textarea {
  width: 267px;
  padding: 10px 15px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  font-size: 16px;
  color: #999;
}
.modal__form textarea {
  display: block;
  width: 100%;
  min-height: 155px;
  resize: vertical;
}
.modal__form input:hover,
.modal__form textarea:hover {
  border-color: #9a9a9a;  
  box-shadow: inset 0 0 0 1px #9a9a9a;
}
.modal__form input:focus,
.modal__form textarea:focus {
  outline: 0;
  border-color: rgba(46, 136, 228, 0.52);
  box-shadow: inset 0 0 0 1px rgba(46, 136, 228, 0.52);
}
.modal__form .submit-area {
  margin-top: 25px;
  margin-bottom: 4px;
  text-align: right;
}